# ignore dag images
*svg
*png

# ignore data files
*.fastq
*.fastq.gz
*.bam
*.sam
*.out

# ignore snakemake stuff
.snakemake

# ignore directories created by snakemake
data/*
output/*
logs/*

# ignore config files as they're computer specific
*config.yaml

# ignore test scripts
scripts/tests/*

# ignore __pycache__
*__pycache__

# ignore R files
*.RData
*.Rhistory